<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/dist/css/output.css" />
</head>

<body class="bg-food-patterns">
    <!-- Navbar -->
    {% include 'items/volunteer-nav-bar.html' %}

    <!-- Modals for displaying grocery/clothing/textbook visit details -->
    {% include 'items/visit-modals.html' %}

    <!-- Search bar -->
    {% include 'items/search-bar.html' %}

    <!-- Boxes section -->
    <div id="boxesSection" class="container mx-auto mt-8 flex justify-center">
        <!-- Box 1 -->
        <div class="w-1/4 bg-blue-900 p-4 mx-2 text-center rounded-2xl">
            <img src="../static/dist/Academics.png" alt="Logo 1" class="mx-auto mb-4" />
            <h2 class="text-3xl font-bold text-white">Academics</h2>
        </div>

        <!-- Box 2 -->
        <div class="w-1/4 bg-blue-500 p-4 mx-2 text-center rounded-2xl">
            <img src="../static/dist/Clothing.png" alt="Logo 2" class="mx-auto mb-4" />
            <h2 class="text-3xl font-bold text-white">Clothing</h2>
        </div>

        <!-- Box 3 -->
        <div class="w-1/4 bg-blue-900 p-4 mx-2 text-center rounded-2xl">
            <img src="../static/dist/Kitchen.png" alt="Logo 3" class="mx-auto mb-4" />
            <h2 class="text-3xl font-bold text-white">Kitchenware</h2>
        </div>

        <!-- Box 4 -->
        <div class="w-1/4 bg-blue-500 p-4 mx-2 text-center rounded-2xl">
            <img src="../static/dist/Grocery.png" alt="Logo 4" class="mx-auto mb-4" />
            <h2 class="text-3xl font-bold text-white">Groceries</h2>
        </div>
    </div>

    <!-- Modal for creating a new student -->
    <div id="createStudentModal"
        class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white p-8 rounded-md max-w-md relative">
            <button id="closeModalButton"
                class="absolute top-2 right-2 px-2 py-1 text-gray-600 hover:text-gray-800 focus:outline-none">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                        d="M10 1a9 9 0 110 18A9 9 0 0110 1zm4.95 13.536a1 1 0 11-1.414 1.414L10 11.414l-3.536 3.536a1 1 0 11-1.414-1.414L8.586 10 5.05 6.464a1 1 0 111.414-1.414L10 8.586l3.536-3.536a1 1 0 111.414 1.414L11.414 10l3.536 3.536z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
            <h2 class="text-xl font-bold mb-4">Create New Student</h2>
            <input id="id" type="text" placeholder="Student ID"
                class="w-full px-4 py-2 mb-4 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" />
            <input id="name" type="text" placeholder="Name"
                class="w-full px-4 py-2 mb-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" />
            <input id="lastName" type="text" placeholder="Last Name"
                class="w-full px-4 py-2 mb-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" />
            <input id="email" type="text" placeholder="Email"
                class="w-full px-4 py-2 mb-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" />
            <input id="classYear" type="text" placeholder="Class Year"
                class="w-full px-4 py-2 mb-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500" />
            <select id="residence"
                class="w-full px-4 py-2 mb-2 rounded-md border border-gray-300 focus:outline-none focus:border-indigo-500">
                <option value="on-campus">On Campus</option>
                <option value="off-campus">Off Campus</option>
            </select>
            <button id="saveStudentButton"
                class="w-full px-4 py-2 bg-blue-500 text-white rounded-md focus:outline-none focus:bg-blue-600">
                Save
            </button>
        </div>
    </div>

    <!-- New Item Checkout Modals -->
    {% include 'items/checkout-modals.html' %}

    <!-- Student information section -->
    <div id="studentInfoSection" class="container mx-auto mt-8 p-8 rounded-md shadow-lg hidden"
        style="background-color: rgb(231, 242, 221);">
        <div class="max-w-6xl mx-auto ">
            <!-- First Segment -->
            <div class="rounded-lg shadow-md p-6 mb-6" style="background-color: #0B0147; color: white;">
                <h2 class="text-lg font-semibold mb-4">Student Information</h2>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="col-span-1">
                        <p class="mb-2">
                            <span class="font-semibold">Name:</span>
                            <span id="studentNameField">John Doe</span>
                        </p>
                        <p class="mb-2">
                            <span class="font-semibold">Student ID:</span>
                            <span id="studentIdField">ABC123</span>
                        </p>
                        <p class="mb-2">
                            <span class="font-semibold">Email:</span>
                            <span id="studentEmailField">john@example.com</span>
                        </p>
                    </div>

                    <!-- Add a button for Agreement -->
                    <div class="flex items-center justify-end">
                        <button id="agreementButton" onclick="showStudentAgreementModal()"
                            class="bg-green-500 text-white px-4 py-2 rounded-md focus:outline-none">Agreement
                        </button>
                    </div>

                </div>
            </div>

            <!-- Second Segment -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <!-- Left Column -->
                <div class="col-span-1">
                    <!-- First Row -->
                    <div class="grid grid-cols-2 gap-6 mb-6">
                        <!-- Box 1 -->
                        <div id="triggerAcademicPopup"
                            class="bg-blue-900 p-4 mx-2 text-center rounded-2xl hover:bg-blue-600 cursor-pointer"
                            onclick="showAcademicModalMenu()">
                            <img src="../static/dist/Academics.png" alt="Logo 1" class="mx-auto mb-4" />
                            <h2 class="text-3xl font-bold text-white">Academics</h2>
                        </div>

                        <!-- Box 2 -->
                        <div id="triggerClothingPopup"
                            class="bg-blue-500 p-4 mx-2 text-center rounded-2xl hover:bg-blue-700 cursor-pointer"
                            onclick="showClothingModalMenu()">
                            <img src="../static/dist/Clothing.png" alt="Logo 2" class="mx-auto mb-4" />
                            <h2 class="text-3xl font-bold text-white">Clothing</h2>
                        </div>
                    </div>
                    <!-- Second Row -->
                    <div class="grid grid-cols-2 gap-6">
                        <!-- Box 3 -->
                        <div id="triggerKitchenwarePopup"
                            class="bg-blue-900 p-4 mx-2 text-center rounded-2xl hover:bg-blue-600 cursor-pointer"
                            onclick="showKitchenwareModalMenu()">
                            <img src="../static/dist/Kitchen.png" alt="Logo 3" class="mx-auto mb-4" />
                            <h2 class="text-3xl font-bold text-white">Kitchenware</h2>
                        </div>

                        <!-- Box 4 -->
                        <div id="triggerGroceryPopup"
                            class="bg-blue-500 p-4 mx-2 text-center rounded-2xl hover:bg-blue-700 cursor-pointer"
                            onclick="showGroceryModalMenu()">
                            <img src="../static/dist/Grocery.png" alt="Logo 4" class="mx-auto mb-4" />
                            <h2 class="text-3xl font-bold text-white">Groceries</h2>
                        </div>
                    </div>
                </div>

                <!-- Right Column -->
                <div class="col-span-1">
                    <!-- Previous Visits Section -->
                    <div class="rounded-lg shadow-md p-2 mb-6" style="background-color: #F3E4FA;">
                        <div class="container mx-auto mt-2">
                            <h2 class="text-2xl font-bold mb-4 ml-2">Previous Visits</h2>
                            <div id="previousVisitsWindow"
                                class="overflow-y-auto max-h-40 border border-purple-700 rounded-md p-4 ml-2 mr-2 mb-2">
                                <!-- Sample previous visits - Replace with dynamic content -->
                                <div class="mb-2 cursor-pointer hover:bg-gray-400 bg-gray-200 p-2"
                                    onclick="showModal('Visit 1 Details')">
                                    Visit 1 - Click to View Details
                                </div>
                                <!-- Add more previous visits here -->
                            </div>
                        </div>
                    </div>

                    <!-- Rented Items -->
                    <div class="rounded-lg shadow-md p-2" style="background-color: #F3E4FA;">
                        <div class="container mx-auto mt-2">
                            <h2 class="text-2xl font-bold mb-4 ml-2">Rented Items</h2>
                            <div id="rentedItemsWindow"
                                class="overflow-y-auto max-h-40 border border-purple-700 rounded-md p-4 ml-2 mr-2 mb-2">
                                <!-- Sample previous rented items  -->
                                <div class="mb-2 cursor-pointer hover:bg-gray-100 p-2">
                                    Rented item 1
                                </div>
                                <div class="mb-2 cursor-pointer hover:bg-gray-100 p-2">
                                    Rented item 2
                                </div>
                                <div class="mb-2 cursor-pointer hover:bg-gray-100 p-2">
                                    Rented item 3
                                </div>
                                <!-- Add more previously rented items here -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Additional Information -->
        <div class="bg-white rounded-lg shadow-md p-6 bg-pink-200 mt-6">
            <h2 class="text-lg font-semibold mb-4">Additional Information</h2>
            <textarea class="w-full h-40 mb-4 p-2 border border-gray-300 rounded-md"></textarea>
            <div class="flex justify-end">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md mr-2">Save</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded-md">Cancel</button>
            </div>
        </div>
    </div>

    <!-- Modal for agreement button -->
    <div id="agreementModal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
        <div class="bg-white p-8 rounded-md max-w-md relative">

            <h2 class="text-xl font-bold mb-4">Student Agreement</h2>
            <p class="mb-4">
                By clicking the "Agree" button, you agree to the terms and conditions of the student agreement.
            </p>
            <button id="agreeButton" onclick="triggerStudentAgreement()"
                class="w-full px-4 py-2 bg-blue-500 text-white rounded-md focus:outline-none hover:bg-blue-600">
                Agree
            </button>
            <button id="cancelButton" onclick="hideStudentAgreementModal()"
                class="w-full px-4 py-2 bg-gray-500 text-white rounded-md focus:outline-none hover:bg-gray-600 mt-2">
                Cancel
            </button>
        </div>
    </div>

    

    <!-- Include student agreement modal.js -->
    <script src="../static/dist/js/student-agreement-modal.js"></script>

    <!-- Include student grocery visit modal.js -->
    <script src="../static/dist/js/student-grocery-visit.js"></script>

    <!-- Include student kitchenware visit modal.js -->
    <script src="../static/dist/js/student-rentedKitchenware-modal.js"></script>

    <!-- Include student kitchenware visit modal.js -->
    <script src="../static/dist/js/student-kitchenware-visit.js"></script>

    <!-- Include student clothing visit modal.js -->
    <script src="../static/dist/js/student-clothing-visit.js"></script>

    <!-- Include student textbook visits.js -->
    <script src="../static/dist/js/student-textbook-visit.js"></script>

    <!-- Include student-rentedTextbook-modal.js -->
    <script src="../static/dist/js/student-rentedTextbook-modal.js"></script>

    <!-- Include student-rentedCloth-modal.js -->
    <script src="../static/dist/js/student-rentedCloth-modal.js"></script>

    <!-- Include student-visits.modal.js -->
    <script src="../static/dist/js/student-visits-modal.js"></script>

    <!-- Include student-create-modal.js -->
    <script src="../static/dist/js/new-student-modal.js"></script>

    <!-- Include student-search-bar.js -->
    <script src="../static/dist/js/student-search-bar.js"></script>
</body>

</html>