<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lula Bell's Home Page</title>
  <link rel="stylesheet" href="../static/dist/css/output.css" />
  <style>
    .custom-title {
      font-family: 'Lucida Handwriting', cursive;
      font-size: 3rem;
      font-weight: 700;
      color: #333;
    }
  </style>
</head>

<body class="bg-food-patterns">

  <div class="grid grid-cols-2 mt-32 bg-slate-50" style="background-color: #E7F2DD;">
    <div class="mt-12">
      <img src="../static/dist/LulaBells_Wordmark.png" alt="Lula Bells Logo" class="w-1/2 mx-auto mb-6" />

    </div>

    <!-- Website title text -->
    <div class="w-auto h-auto mt-12">
      <h1 class="custom-title">
        Welcome to <span style="color:#8BC15A">Lula Bells</span><br />Inventory Management System
      </h1>
      <div class="mt-12 grid grid-cols-1">

        <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 w-48 rounded mx-6 my-4 text-xl text-center"
          href="/volunteer">Volunteer Login</a>

        <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-4 w-48 rounded mx-6 my-4 text-xl text-center"
          href="/admin">Admin Login</a>

      </div>
    </div>
  </div>
</body>

</html>